# UCI data exploration

In [16]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [ ]:
%reload_ext autoreload
%autoreload 2

## `Covertype` dataset

In [28]:
data = fetch_ucirepo("Covertype")

In [30]:
# Basic info on the features.
data.data.features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581012 entries, 0 to 581011
Data columns (total 54 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           581012 non-null  int64
 1   Aspect                              581012 non-null  int64
 2   Slope                               581012 non-null  int64
 3   Horizontal_Distance_To_Hydrology    581012 non-null  int64
 4   Vertical_Distance_To_Hydrology      581012 non-null  int64
 5   Horizontal_Distance_To_Roadways     581012 non-null  int64
 6   Hillshade_9am                       581012 non-null  int64
 7   Hillshade_Noon                      581012 non-null  int64
 8   Hillshade_3pm                       581012 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  581012 non-null  int64
 10  Wilderness_Area1                    581012 non-null  int64
 11  Soil_Type1                          581012 non-null  int64
 12  Soil_Type2                          581012 non-null  int64
 13  Soil_Type3                          581012 non-null  int64
 14  Soil_Type4                          581012 non-null  int64
 15  Soil_Type5                          581012 non-null  int64
 16  Soil_Type6                          581012 non-null  int64
 17  Soil_Type7                          581012 non-null  int64
 18  Soil_Type8                          581012 non-null  int64
 19  Soil_Type9                          581012 non-null  int64
 20  Soil_Type10                         581012 non-null  int64
 21  Soil_Type11                         581012 non-null  int64
 22  Soil_Type12                         581012 non-null  int64
 23  Soil_Type13                         581012 non-null  int64
 24  Soil_Type14                         581012 non-null  int64
 25  Soil_Type15                         581012 non-null  int64
 26  Soil_Type16                         581012 non-null  int64
 27  Soil_Type17                         581012 non-null  int64
 28  Soil_Type18                         581012 non-null  int64
 29  Soil_Type19                         581012 non-null  int64
 30  Soil_Type20                         581012 non-null  int64
 31  Soil_Type21                         581012 non-null  int64
 32  Soil_Type22                         581012 non-null  int64
 33  Soil_Type23                         581012 non-null  int64
 34  Soil_Type24                         581012 non-null  int64
 35  Soil_Type25                         581012 non-null  int64
 36  Soil_Type26                         581012 non-null  int64
 37  Soil_Type27                         581012 non-null  int64
 38  Soil_Type28                         581012 non-null  int64
 39  Soil_Type29                         581012 non-null  int64
 40  Soil_Type30                         581012 non-null  int64
 41  Soil_Type31                         581012 non-null  int64
 42  Soil_Type32                         581012 non-null  int64
 43  Soil_Type33                         581012 non-null  int64
 44  Soil_Type34                         581012 non-null  int64
 45  Soil_Type35                         581012 non-null  int64
 46  Soil_Type36                         581012 non-null  int64
 47  Soil_Type37                         581012 non-null  int64
 48  Soil_Type38                         581012 non-null  int64
 49  Soil_Type39                         581012 non-null  int64
 50  Soil_Type40                         581012 non-null  int64
 51  Wilderness_Area2                    581012 non-null  int64
 52  Wilderness_Area3                    581012 non-null  int64
 53  Wilderness_Area4                    581012 non-null  int64
dtypes: int64(54)
memory usage: 239.4 MB

In [37]:
# The variable types.
data.variables

,name,role,type,demographic,description,units,missing_values
0,Elevation,Feature,Integer,None,None,None,no
1,Aspect,Feature,Integer,None,None,None,no
2,Slope,Feature,Integer,None,None,None,no
3,Horizontal_Distance_To_Hydrology,Feature,Integer,None,None,None,no
4,Vertical_Distance_To_Hydrology,Feature,Integer,None,None,None,no
5,Horizontal_Distance_To_Roadways,Feature,Integer,None,None,None,no
6,Hillshade_9am,Feature,Integer,None,None,None,no
7,Hillshade_Noon,Feature,Integer,None,None,None,no
8,Hillshade_3pm,Feature,Integer,None,None,None,no
9,Horizontal_Distance_To_Fire_Points,Feature,Integer,None,None,None,no
10,Wilderness_Area1,Feature,Integer,None,None,None,no
11,Soil_Type1,Feature,Integer,None,None,None,no
12,Soil_Type2,Feature,Integer,None,None,None,no
13,Soil_Type3,Feature,Integer,None,None,None,no
14,Soil_Type4,Feature,Integer,None,None,None,no
15,Soil_Type5,Feature,Integer,None,None,None,no
16,Soil_Type6,Feature,Integer,None,None,None,no
17,Soil_Type7,Feature,Integer,None,None,None,no
18,Soil_Type8,Feature,Integer,None,None,None,no
19,Soil_Type9,Feature,Integer,None,None,None,no
20,Soil_Type10,Feature,Integer,None,None,None,no
21,Soil_Type11,Feature,Integer,None,None,None,no
22,Soil_Type12,Feature,Integer,None,None,None,no
23,Soil_Type13,Feature,Integer,None,None,None,no
24,Soil_Type14,Feature,Integer,None,None,None,no
25,Soil_Type15,Feature,Integer,None,None,None,no
26,Soil_Type16,Feature,Integer,None,None,None,no
27,Soil_Type17,Feature,Integer,None,None,None,no
28,Soil_Type18,Feature,Integer,None,None,None,no
29,Soil_Type19,Feature,Integer,None,None,None,no
30,Soil_Type20,Feature,Integer,None,None,None,no
31,Soil_Type21,Feature,Integer,None,None,None,no
32,Soil_Type22,Feature,Integer,None,None,None,no
33,Soil_Type23,Feature,Integer,None,None,None,no
34,Soil_Type24,Feature,Integer,None,None,None,no
35,Soil_Type25,Feature,Integer,None,None,None,no
36,Soil_Type26,Feature,Integer,None,None,None,no
37,Soil_Type27,Feature,Integer,None,None,None,no
38,Soil_Type28,Feature,Integer,None,None,None,no
39,Soil_Type29,Feature,Integer,None,None,None,no
40,Soil_Type30,Feature,Integer,None,None,None,no
41,Soil_Type31,Feature,Integer,None,None,None,no
42,Soil_Type32,Feature,Integer,None,None,None,no
43,Soil_Type33,Feature,Integer,None,None,None,no
44,Soil_Type34,Feature,Integer,None,None,None,no
45,Soil_Type35,Feature,Integer,None,None,None,no
46,Soil_Type36,Feature,Integer,None,None,None,no
47,Soil_Type37,Feature,Integer,None,None,None,no
48,Soil_Type38,Feature,Integer,None,None,None,no
49,Soil_Type39,Feature,Integer,None,None,None,no
50,Soil_Type40,Feature,Integer,None,None,None,no
51,Cover_Type,Target,Integer,None,None,None,no
52,Wilderness_Area2,Feature,Integer,None,None,None,no
53,Wilderness_Area3,Feature,Integer,None,None,None,no
54,Wilderness_Area4,Feature,Integer,None,None,None,no

In [38]:
# Each `Soil_Type` is a binary variable.
data.data.features.Soil_Type1.value_counts()

Soil_Type1
0    577981
1      3031
Name: count, dtype: int64

In [40]:
# Only one `Soil_Type` can be true at a time (or none); in short, there are 41 soil types.
data.data.features[[f"Soil_Type{i}" for i in range(1, 40)]].sum(axis=1).value_counts()

1    572262
0      8750
Name: count, dtype: int64

In [35]:
# The target is classification.
data.data.targets["Cover_Type"].value_counts()

Cover_Type
2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: count, dtype: int64

## `Adult` dataset

In [42]:
data = fetch_ucirepo("Adult")

In [43]:
data.data.features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [44]:
data.variables

,name,role,type,demographic,description,units,missing_values
0,age,Feature,Integer,Age,N/A,None,no
1,workclass,Feature,Categorical,Income,"Private, Self-emp-not-inc, Self-emp-inc, Feder...",None,yes
2,fnlwgt,Feature,Integer,None,None,None,no
3,education,Feature,Categorical,Education Level,"Bachelors, Some-college, 11th, HS-grad, Prof-...",None,no
4,education-num,Feature,Integer,Education Level,None,None,no
5,marital-status,Feature,Categorical,Other,"Married-civ-spouse, Divorced, Never-married, S...",None,no
6,occupation,Feature,Categorical,Other,"Tech-support, Craft-repair, Other-service, Sal...",None,yes
7,relationship,Feature,Categorical,Other,"Wife, Own-child, Husband, Not-in-family, Other...",None,no
8,race,Feature,Categorical,Race,"White, Asian-Pac-Islander, Amer-Indian-Eskimo,...",None,no
9,sex,Feature,Binary,Sex,"Female, Male.",None,no
10,capital-gain,Feature,Integer,None,None,None,no
11,capital-loss,Feature,Integer,None,None,None,no
12,hours-per-week,Feature,Integer,None,None,None,no
13,native-country,Feature,Categorical,Other,"United-States, Cambodia, England, Puerto-Rico,...",None,yes
14,income,Target,Binary,Income,">50K, <=50K.",None,no

In [47]:
data.data.targets["income"].value_counts()

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64